.card-img-top{
    width: 500px;
}

@media only screen and (max-width: 900px) {
    .card-img-top{
        width: 425px;
    }
}
@media only screen and (max-width: 700px) {
    .card-img-top{
        width: 350px;
    }
}
@media only screen and (max-width: 500px) {
    .card-img-top{
        width: 250px;
    }
}
@media only screen and (max-width: 270px) {
    .card-img-top{
        width: 130px;
    }
}